<h1><%= "Title: #{post.title}" %></h1>
<h2>
  <strong>Content:</strong>
</h2>
 <%= post.content %>
<small>Posted <%= time_ago_in_words(post.created_at) %> ago</small>

<h2>Reacts</h2>
<div class= "row">
  <% React.reactions.keys.each do |reaction| %>
  <%= button_to "#{reaction} #{post.reacts.reactions_counts[reaction]}", post_react_path(post,reaction: "#{reaction}", method: :post) %>
  <% end %>
</div>
<br>

<h2>Comments</h2>
<%= render post.comments %>
 
<h2>Add a comment:</h2>
<%= form_for [post, Comment.new] do |f| %>
    <%= f.text_area :body, placeholder: "Add a comment" %><br/>
    <%= f.submit "Add Comment" %>
  <% end %>
 
<br />